<a href="https://colab.research.google.com/github/AadarshS9/Computational-Statistics-S3/blob/main/Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
print('Program to use DataFrame.transform() function to add 10 to each element in the dataframe\n')
import pandas as pd
df = pd.DataFrame({"A":[12, 4, 5, None, 1],"B":[7, 2, 54, 3, None],"C":[20, 16, 11, 3, 8],"D":[14, 3, None, 2, 6]})
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
df.index = index_
print(df)
print("\n")
#add 10 to each element of the dataframe
result = df.transform(func = lambda x : x + 10)
print(result)

Program to use DataFrame.transform() function to add 10 to each element in the dataframe.

          A     B   C     D
Row_1  12.0   7.0  20  14.0
Row_2   4.0   2.0  16   3.0
Row_3   5.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0


          A     B   C     D
Row_1  22.0  17.0  30  24.0
Row_2  14.0  12.0  26  13.0
Row_3  15.0  64.0  21   NaN
Row_4   NaN  13.0  13  12.0
Row_5  11.0   NaN  18  16.0

In [32]:
print('Program to use Pandas.pivot() function to create a pivot table\n')
import pandas as pd
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],'B': ['Masters', 'Graduate', 'Graduate'],'C': [27, 23, 21]})
print(df)
print("\n")
# values can be an object or a list
df.pivot('A', 'B', 'C')

Program to use Pandas.pivot() function to create a pivot table

      A         B   C
0  John   Masters  27
1  Boby  Graduate  23
2  Mina  Graduate  21

B     Graduate  Masters
A
Boby      23.0      NaN
John       NaN     27.0
Mina      21.0      NaN

In [33]:
print('Program to use Pandas.pivot() function to create a pivot table\n')
import pandas as pd
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],'B': ['Masters', 'Graduate', 'Graduate'],'C': [27, 23, 21]})
# value is a list
df.pivot(index ='A', columns ='B', values =['C', 'A'])

Program to use Pandas.pivot() function to create a pivot table

            C                A
B    Graduate Masters Graduate Masters
A
Boby       23     NaN     Boby     NaN
John      NaN      27      NaN    John
Mina       21     NaN     Mina     NaN

In [38]:
print('Program to iterate over characters of a string in Python\n')
string_name = 'Malayalam'
print('...1)Iterate over the string\n')
for element in string_name:
  print(element, end=' ')
  #print("\n")

print("\n")
print('...2)Iterate over the string\n')
for element in string_name:
  print(element, end=' ')
  print("\n")

print('...3)Iterate over the index\n')
for element in range(0, len(string_name)):
  print(string_name[element])

Program to iterate over characters of a string in Python

...1)Iterate over the string

M a l a y a l a m

...2)Iterate over the string

M

a

l

a

y

a

l

a

m

...3)Iterate over the index

M
a
l
a
y
a
l
a
m

In [45]:
print('Program to iterate over characters of a string in reverse order in Python\n')
string_name = 'Malayalam'
print('...1)Slicing the string in reverse fashion\n')
for element in string_name[ : :-1]:
  print(element, end =' ')
  print('\n')

print('...2)Slicing the string in reverse fashion\n')
for element in string_name[ : :-1]:
  print(element, end =' ')
print('\n')


print('...3)Using reversed() function\n')
ran = len(string_name)
for element in reversed(range(0, ran)):
  print(string_name[element])

Program to iterate over characters of a string in reverse order in Python

...1)Slicing the string in reverse fashion

m

a

l

a

y

a

l

a

M

...2)Slicing the string in reverse fashion

m a l a y a l a M

...3)Using reversed() function

m
a
l
a
y
a
l
a
M

In [51]:
print('Program to iterate over a particular set of element in Python\n')
string_name = 'malayalam'
# string_name[start:end:step]
for element in string_name[2:8:1]:
  print(element, end =' ')

Program to iterate over a particular set of element in Python

l a y a l a